<!--<div class="jumbotron">
-->
<div>
  <h1>Hi! Hello! Ciao!</h1>


  <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p>

  <md-radio-group ng-model="data.group1">

    <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
    <md-radio-button value="Banana"> Banana </md-radio-button>
    <md-radio-button value="Mango">Mango</md-radio-button>

  </md-radio-group>

</div>
<h5>Off</h5>
<md-switch ng-model="vm.activated" ng-change="vm.toggleActivation()" aria-label="Enable Indicators">
  <h5>On</h5>
</md-switch>
</div>

<hr>
</div>